[
  {sasl, [   
    	{sasl_error_logger, false},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "../logs/ser_sasl"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },
  
  {server, [  
  		{tcp_listener_ip,[
						{ip, "192.168.0.51"}
						]},
		{tcp_listener,[
						{port, 7766}, 
						{acceptor_num, 100},
						{max_connections, 3000}
						]},
		{mysql_config, 	  [
						{host, "192.168.0.51"},
						{port, 3306}, 
						{user, "root"},
						{password, "root"},
						{db, "smyx_6"},
						{encode, utf8},
						{conns,10}
				  		]},
		{mysql_log_config, 	  [
						{host, "192.168.0.51"},
						{port, 3306}, 
						{user, "root"},
						{password, "root"},
						{db, "smyx_log_6"},
						{encode, utf8},
						{conns,10}
				  		]},
		{gateway_node, ['smyx_gateway@192.168.0.51']},	%% 网关节点	
		{server_num,7},							    %% 服务器编号
		{fight_num,1},							    %% 跨服战斗服务器编号
		{domain,1},									%% 服务器区号
		{platform_key, "test"},     				%% 平台校验key
		{open_time,1390702824},						%% 开服时间
		{log_path, "../logs/ser"},                  %% 日志目录
		{log_level, 6},								%% 日志输出级别类型
		{base_data_from_db, 1},						%% 基本数据实时读数据库？(1：是，使用ets; 0：否，来自生成的静态文件)
		{scene_here, []},							%% all or [number] 开启加载在本节点场景(all--所有非副本节点; [100]--配置的节点)
		{guest_account_url, "http://www.xfj.com/guest_account.php"},		%% 获取游客账号Url
		{can_gmcmd, 1},								%% GM命令启用否 （1：开启; 0: 关闭）
		{strict_md5, 0},							%% 是否需要严格验证 （1：验证; 0: 不验证）
		{infant_ctrl, 0}							%% 防沉迷系统开关 （1：开启; 0: 关闭）
		]
  }
].