[
  {sasl, [   
    	{sasl_error_logger, false},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "../logs/ser_sasl"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },
  
  {server, [  
  		{tcp_listener_ip,[
						{ip, "192.168.0.253"}
						]},
		{tcp_listener,[
						{port, 10000}, 
						{acceptor_num, 100},
						{max_connections, 3000}
						]},
		{mysql_config, 	  [
						{host, "192.168.0.142"},
						{port, 3306}, 
						{user, "root"},
						{password, "123456"},
						{db, "ddz_data"},
						{encode, utf8},
						{conns,10}
				  		]},
		{mysql_log_config, 	  [
						{host, "192.168.0.142"},
						{port, 3306}, 
						{user, "root"},
						{password, "123456"},
						{db, "ddz_log"},
						{encode, utf8},
						{conns,10}
				  		]},
		{gateway_node, ['game_gateway@192.168.0.253']},	%% 网关节点,后面必须是gateway的IP
		{server_num,0},							%% 服务器编号,服号		
		{domain,1},								%% 服务器区号，平台号
		{server_type,2},                        %% 服务器类型：1 网关，2 中心，3 游戏服
		{platform_key, [{"4399", "5b48da2313dddcd719f99c07f6466b20"}, {"91", "6be67af60d1cc23fcf828fb977f7044b2f7ed5464789bc18"}]},     				%% 平台校验key
		{open_time,1429772100},					%% 开服时间
		{fight_num,1},							%% 跨服战斗服务器编号
		{log_path, "../logs/ser"},              %% 日志目录
		{log_level, 6},							%% 日志输出级别类型
		{base_data_from_db, 1},					%% 基本数据实时读数据库？(1：是，使用ets; 0：否，来自生成的静态文件)
		{scene_here, []},							%% all or [number] 开启加载在本节点场景(all--所有非副本节点; [100]--配置的节点)
		{guest_account_url, [{"91", "http://mobileusercenter.sj.91.com/usercenter1/Default.aspx"}]},		%% 获取游客账号Url
		{can_gmcmd, 1},								%% GM命令启用否 （1：开启; 0: 关闭）
		{strict_md5, 0},							%% 是否需要严格验证 （1：验证; 0: 不验证）
		{infant_ctrl, 0},							%% 防沉迷系统开关 （1：开启; 0: 关闭）
		{language, 1}								%% 多语言类型：0 简体中文，1 繁体中文， 2 英文
		]
  }
].