[
  {sasl, [   
    	{sasl_error_logger, false},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "../logs/gateway_sasl"},%% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },

  {temp_db, [
  		
		{mysql_config, 	  [
						{host, "192.168.0.114"},
						{port, 3306}, 
						{user, "root"},
						{password, "root"},
						{db, "ddz_data"},
						{encode, utf8},
						{conns,10}
				  		]}
		]
  }
].